<div class="content-center">
    <div class="task-manager-container">
        <div class="left-side">
            <h1 class="title task-title has-text-primary">
                List
            </h1>
            <div class="list-menu">
                <a  class="list-menu-item">
                    <p>Task 1</p>
                </a>
                <a  class="list-menu-item is-active">
                    <p>Task 2</p>
                </a>
            </div>
            <button class="button is-primary has-text-white">+ New Task</button>
        </div>
        <div class="list-container">
            <h1 class="title task-title has-text-primary">
                Details
            </h1>
            <div class="tasks">
                <p>This is task to be performed</p>
            </div>
            <div class="tasks completed">
                <p>This is task has already been performed</p>
            </div>
        </div>
    </div>
</div>
